[submodule "themes/simple-hugo-theme"]
	path = themes/simple-hugo-theme
	url = https://github.com/Xzya/simple-hugo-theme.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
